body {
  margin: 0;
  text-align: center;
  font-family: 'Bitter', serif;
}

h1 {
  color: #EE6983;
  font-family: 'Ms Madi', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  color: #EE6983;
  font-weight: normal;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: #850E35;
}

a {
  color: #850E35;
}

.top-container {
  background-color: #FCD8D4;
  padding-top: 100px;
  position: relative;
}

.middle-container {}

.bottom-container {}

.bottom-cloud {
  position: absolute;
  top: 350px;
  left: 350px;
}

.css-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.html-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.top-cloud {
  position: absolute;
  top: 30px;
  right: 350px;
}
